.cart_info{
    margin: 10px;
}
.cart_info p{
    font-size: 25px;
    color: #000000;
    font-weight: 700;
}
.oder_btn{
    padding: 10px 30px ;
    background: #159df8;
    font-size: 20px;
    color:#ffffff;
}